{
  "token": "YOUR_BOT_TOKEN",
  "clientId": "YOUR_CLIENT_ID",
  "defaultVolume": 0.5,
  "maxQueueSize": 100,
  "leaveOnEmpty": true,
  "leaveOnEmptyDelay": 600000,
  "allowedGuildId": "",
  "autoJoinVoiceChannelId": "",
  "autoSendChannelId": "",
  "youtube": {
    "apiKey": "YOUR_YOUTUBE_API_KEY"
  }
}